<div class="header" id="header">
    <!-- web-scraping画面へのボタン -->
    <button ngbDropdownItem>
            <div id="web_scraping_page_button">
            <nav>
                <a id="web-scraping" routerLink="web-scraping" routerLinkActive="active" class="button b-orange">データ収集</a>
            </nav>
        </div>
    </button>
    <!-- レース一覧画面へのボタン -->
    <button ngbDropdownItem>
        <div id="button">
            <nav>
                <a id="race-list" routerLink="race-list" routerLinkActive="active" class="button b-orange">レース予測</a>
            </nav>
        </div>
    </button>
    <!-- ホームへのボタン -->
    <button ngbDropdownItem>
        <div id="button">
            <nav>
                <a id="home" routerLink="home" routerLinkActive="active" class="button b-orange">Home</a>
            </nav>
        </div>
    </button>
    <!-- レースへのボタン -->
    <button ngbDropdownItem>
        <div id="button">
            <nav>
                <a id="race" routerLink="race" routerLinkActive="active" class="button b-orange">レース</a>
            </nav>
        </div>
    </button>
    <!-- HorseScrapingへのボタン -->
    <button ngbDropdownItem>
        <div id="button">
            <nav>
                <a id="race" routerLink="horse-scraping" routerLinkActive="active" class="button b-orange">HorseScraping</a>
            </nav>
        </div>
    </button>
    <!-- JockeyScrapingへのボタン -->
    <button ngbDropdownItem>
        <div id="button">
            <nav>
                <a id="race" routerLink="jockey-scraping" routerLinkActive="active" class="button b-orange">JockeyScraping</a>
            </nav>
        </div>
    </button>

</div>